/* Importing an external stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Main styles */
body {
  font-family: 'Roboto', Arial, sans-serif; /* Using the imported font */
  background-color: #e4e9cb;
}

h1 {
  color: #333;
}

p {
  color: #4724d1;
  font-weight: bold;
}

